.idea/
#models/
#data/*.pkl
#data/*.bin
#data/*.pt
#*.pkl
*.h5
*.bin
*.pt

#data/*.csv
#data/*.parquet
.DS_Store
__pycache__/
.streamlit/
#/data/ukrtb_raw/f01.txt
#/data/ukrtb_raw/f02.txt
#/data/ukrtb_raw/f03.txt
#/data/ukrtb_raw/f04.txt
#/data/ukrtb_raw/f05.txt
