altair @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_7ew3pavrjt/croot/altair_1743016738697/work
attrs @ file:///opt/miniconda3/conda-bld/attrs_1761910543869/work
blinker @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_11lor_igbs/croot/blinker_1737449046432/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_55txi4fy1u/croot/bottleneck_1731058642212/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1761745169121/work
cachetools @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dwsj6_xj_/croot/cachetools_1738225342715/work
certifi @ file:///opt/miniconda3/conda-bld/certifi_1759786064139/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1760098029095/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744843696/work
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d2rtg2ejqc/croot/click_1744271604580/work
emoji==2.15.0
filelock==3.19.1
fsspec==2025.10.0
gitdb @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_82snifofrq/croot/gitdb_1753362128356/work
GitPython @ file:///opt/miniconda3/conda-bld/gitpython_1761291258882/work
hf-xet==1.4.0
huggingface_hub==0.36.2
idna @ file:///opt/miniconda3/conda-bld/idna_1761911990848/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///opt/miniconda3/conda-bld/joblib_1757926352693/work
jsonschema @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b7rkhn8is8/croot/jsonschema_1753206410131/work
jsonschema-specifications @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_d38pclgu95/croot/jsonschema-specifications_1699032390832/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
mpmath==1.3.0
narwhals @ file:///opt/miniconda3/conda-bld/narwhals_1760003494121/work
networkx==3.2.1
nltk @ file:///opt/miniconda3/conda-bld/nltk_1761121172078/work
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b3kvvt6tc6/croot/numexpr_1730215947700/work
numpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f2amvjkczw/croot/numpy_and_numpy_base_1725470317860/work/dist/numpy-2.0.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=0cf700178637cc9f2b40ce7c07ed71b40836ff9eb66246a5b07dc574b0f55422
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049078840/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1759822251264/work/dist/pandas-2.3.3-cp39-cp39-macosx_12_0_arm64.whl#sha256=4824e9cd9199e8ac96821a7e4d1c7eeb0aede259e7f2909e58e805276f7d7393
pillow @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_94x67n90dt/croot/pillow_1752524540258/work
plotly @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_1e1bdkjh6p/croot/plotly_1756454817361/work
protobuf @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_73kluigbu7/croot/protobuf_1742426204819/work/bazel-bin/python/dist/protobuf-5.29.3-cp39-abi3-macosx_11_0_arm64.whl#sha256=7919371f1e02bf9f0e4c9a14565f1c29f072e5a70e9adfc20509ee2f07034c7c
pyarrow @ file:///opt/miniconda3/conda-bld/pyarrow_1759833588231/work/python
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496095003/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753009935/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
PyYAML==6.0.3
referencing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5cz64gsx70/croot/referencing_1699012046031/work
regex @ file:///opt/miniconda3/conda-bld/regex_1758887999193/work
requests @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ef59rwwti1/croot/requests_1756709671417/work
rpds-py @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3awdke3eyt/croot/rpds-py_1736542475137/work
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.13.1
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
smmap @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dd873u6eqt/croot/smmap_1752748959979/work
stanza==1.11.0
streamlit @ file:///opt/miniconda3/conda-bld/streamlit-split_1758803700063/work/streamlit
sympy==1.14.0
tenacity @ file:///opt/miniconda3/conda-bld/tenacity_1760375524186/work
threadpoolctl==3.6.0
tokenizers==0.22.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.4.0
torch==2.8.0
tornado @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_63s3osc0_1/croot/tornado_1748956943583/work
tqdm @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5642tzrprr/croot/tqdm_1738943467095/work
transformers==4.57.6
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_95v32ztwo_/croot/urllib3_1750775480393/work
